<div class="timer-controls-group">
  @if (isPaused()) {
    <button class="control-btn resume-btn" (click)="onResume.emit()" [disabled]="isLoading()" title="Resume">
      <i class="fa-solid fa-play"></i>
    </button>
  } @else {
    <button class="control-btn pause-btn" (click)="onPause.emit()" [disabled]="isLoading()" title="Pause">
      <i class="fa-solid fa-pause"></i>
    </button>
  }
  
  <button class="control-btn stop-btn" (click)="onStop.emit()" [disabled]="isLoading()" title="Stop Timer">
    <i class="fa-solid fa-stop"></i>
  </button>
</div>
