<div class="folder-card" [style.border-top-color]="folder().color">
  <div class="folder-card__body">
    <div class="folder-card__info">
      <h3 class="folder-card__title">{{ folder().name }}</h3>
      <p class="folder-card__count">
        <i class="fa-regular fa-file-lines"></i>
        {{ folder().taskCount }} task{{ folder().taskCount !== 1 ? 's' : '' }}
      </p>
    </div>

    <div class="folder-card__actions" (click)="$event.stopPropagation()">
      <button class="action-btn" (click)="edit.emit(folder())" title="Edit folder">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
      <button class="action-btn action-btn--danger" (click)="delete.emit(folder())" title="Delete folder">
        <i class="fa-solid fa-trash-can"></i>
      </button>
    </div>
  </div>

  <div class="folder-card__color-bar" [style.background]="folder().color"></div>
</div>
