<div class="plant-card" (click)="clicked.emit(plant())" role="button" tabindex="0">
  <div class="plant-card__inner">

    <div class="plant-card__badges">
      <span class="level-badge" [style.border-color]="'var(--color-' + levelMeta.variant + ')'" [style.color]="'var(--color-' + levelMeta.variant + ')'">
        {{ levelMeta.label }}
      </span>
      <span class="coin-badge">
        <i class="fa-solid fa-coins"></i> {{ plant().price }}
      </span>
    </div>

    <div class="plant-card__visual">
      @if (plant().imageUrl) {
        <img [src]="plant().imageUrl" [alt]="plant().name" class="plant-img" />
      } @else {
        <span class="plant-emoji"><i [class]="stageMeta.icon"></i></span>
      }
    </div>

    <div class="plant-card__info">
      <h3 class="plant-name">{{ plant().name }}</h3>
      <p class="plant-desc">{{ plant().description }}</p>
    </div>

  </div>
</div>
