@if (plant()) {
  <sb-modal [title]="' '" maxWidth="450px" (closed)="closed.emit()">

    <div class="modal-body">

      <div class="plant-hero">
        <div class="plant-hero__icon">
          @if (plant()!.imageUrl) {
            <img [src]="plant()!.imageUrl" [alt]="plant()!.name" class="plant-hero__img" />
          } @else {
            <span class="plant-hero__emoji">{{ stageMeta.emoji }}</span>
          }
          <div class="plant-hero__level"
               [style.background]="'var(--color-' + levelMeta.variant + ')'"
               style="color:#fff;">
            {{ levelMeta.label }}
          </div>
        </div>

        <h2 class="plant-hero__name">{{ plant()!.name }}</h2>
        <p class="plant-hero__desc">{{ plant()!.description }}</p>
      </div>

      <div class="plant-meta">
        <div class="plant-meta__item">
          <span class="plant-meta__label">Price</span>
          <span class="price-badge">
            <i class="fa-solid fa-coins"></i> {{ plant()!.price }}
          </span>
        </div>
        <div class="plant-meta__item plant-meta__item--right">
          <span class="plant-meta__label">Growth Stage</span>
          <span class="plant-meta__value">{{ stageMeta.label }}</span>
        </div>
      </div>

      <sb-button [fullWidth]="true" (clicked)="purchase.emit(plant()!)" [disabled]="purchasing()">
        @if (purchasing()) {
          <i class="fa-solid fa-spinner fa-spin"></i> Purchasing...
        } @else {
          <i class="fa-solid fa-seedling"></i> Buy Seed
        }
      </sb-button>

    </div>
  </sb-modal>
}
